<h1> Articles Tagged with 
    <%= @tag.name %></h1>

<ul>
    <% @tag.name.each do |tag| %>
    <li><%= link_to tag.name, tag_path(tag) %></li>
    <% end %>
</ul>


<p><%= @tag.name %></p>



<%= link_to "<< Back to Tag List", tag_path %>

<%= link_to "delete", tag_path(@tag), method: :delete, data: {confirm: "Are you sure you want to delete this?"} %>

<%= link_to "edit", edit_tag_path(@tag) %>

